header {
     background-color: #313741;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
    
  }

header .text {
    text-align: center;
}
  
 
  
  header h1 {

    font-size: 50px;
    font-family: 'Aleo', serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: #E1D8CF;
    text-align: center;
  
  }
  
  
  header p {
    font-family: 'Aleo', serif;
    letter-spacing: 2px;
    color: #E1D8CF; 
    
  }
  
  main {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  
  aside.colonne-gauche {
    background-color: #E1D8CF;
    width: 300px;
    padding: 20px;
  
  }
  
  aside.colonne-gauche h2 {
    background-color: #313741;
    color:#E1D8CF;
    font-size: 1.3em;
    margin-bottom: 10px;
    border: 10px solid #313741;
    margin-top: 100px;
    font-family: 'Aleo', serif;
    letter-spacing: 2px;
  }
  
  aside.colonne-gauche ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  
  section.experience {
    flex: 1;
    margin-top: 20px;
   
  }
  
  section.experience h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 30px ;
    margin-right : 150px;
    color: #E1D8CF;
    border: 10px solid #313741;
    border-left: 15px solid #313741;
    background-color: #313741;
    font-family: 'Aleo', serif;
    letter-spacing: 2px;
  }
  

  .navbar {
      display: flex;
      justify-content: center;
  }
  
  .navbar a {
      padding: 15px;
      color: black;
      
  }
  
  .bordure {
      border-left: 1px solid black;
      
  }
  
  
footer{
  background-color: #313741;
  height: 130px;

}

.text-footer {
    color: #fff;
    display: flex;
    justify-content: space-around;
    
}

#image {
    float: left;
    width: 100px;
    margin-left: 40px;
  
}

#texte {
    /* il faut adapter la marge à gauche */
    margin-left: 500px;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

#texte p {
    margin-bottom: 100px;
    margin-right: 100px;
    line-height : 1.5;
    margin-top: 250px;
}



.btn {
    padding:10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 1s, color 1s, border 1s;

}
.btn-full {
    background-color: #313741;
    color: #E1D8CF;
    margin-right: 15px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 100px
}

.btn-full:hover {
    background-color: #E1D8CF;
    color: #313741;
}

.presentation {
    flex: auto;
    flex-wrap: wrap;
    
}

@media screen and (max-width: 1000px){
    section.experience {
        width: 100%;
        
    }
    
    aside.colonne-gauche {
        width: 100%;
        
    }
    
    .presentation {
        display: flex;
        flex-wrap: wrap;
    }
    
    #texte {
        margin-left: 40px;
        margin-right: -0px;
        margin-top: -190px;
        margin-bottom: 10px;
        text-align: justify;
    }
    
    #image {
        width: 60px;
        margin-left: -10px;
        margin-right: 0px;
        
    }
    
    .btn {
        margin-top: -15px;
        margin-left: 110px;
        
    }
    
     .navbar {
        margin-top: 20px;
        margin-bottom: 40px;
        
    }
    
}