header {
     background-color: #313741;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
    
  }

header .text {
    text-align: center;
}
  
 
  
  header h1 {

    font-size: 50px;
    font-family: 'Aleo', serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: #E1D8CF;
    text-align: center;
  
  }
  
  
  header p {
    font-family: 'Aleo', serif;
    letter-spacing: 2px;
    color: #E1D8CF; 
    
  }
  
  main {
    display: flex;
      flex-wrap: wrap-reverse;
  }
  
  aside.colonne-gauche {
    background-color: #E1D8CF;
    width: 300px;
    padding: 20px;
  
  }
  
  aside.colonne-gauche h2 {
    background-color: #313741;
    color:#E1D8CF;
    font-size: 1.3em;
    margin-bottom: 10px;
    border: 10px solid #313741;
    margin-top: 100px;
    font-family: 'Aleo', serif;
    letter-spacing: 2px;
  }
  
  aside.colonne-gauche ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  
  section.experience {
    flex: 1;
    margin-top: 20px;
      
    
   
  }
  
  section.experience h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 30px ;
    margin-right : 150px;
    color: #E1D8CF;
     border: 10px solid #313741;
     border-left: 15px solid #313741;
     background-color: #313741;
     font-family: 'Aleo', serif;
     letter-spacing: 2px;
     
    
  }
  
  
  .navbar {
      display: flex;
      justify-content: center;
  }
  
  .navbar a {
      padding: 15px;
      color: black;
      
  }
  
  .bordure {
      border-left: 1px solid black;
      
  }
  
  
footer{
  background-color: #313741;
  height: 130px;

}

.text-footer {
    color: #fff;
    display: flex;
    justify-content: space-around;
    
}

form {
    background-color: #E1D8CF;
    padding:30px;
    width: 500px;
    border: 2px solid #313741;
    justify-content: center;
    text-align:center;
    box-shadow:1px 1px 2px #313741 inset;
    position:absolute;
    justify-items: center;
    font-family: 'Aleo', serif;
    margin-left: 200px;
    margin-top:50px;
}



    input, textarea, select, option {
    background-color:#e7e0d9;
    margin-bottom: 10px;
    }
    input, textarea, select {
    padding:3px;
    border:1px solid #313741;
    border-radius:5px;
    width: 350px;
    box-shadow:1px 1px 2px #313741;
    text-align: center;
    }
    select {
    margin-top:10px;
    }
    
    input[type=submit] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #313741;
    cursor:pointer;
    padding:10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 1s, color 1s, border 1s;
    text-align: center;
    }

@media screen and (max-width: 1000px){
    section.experience {
        width: 100%;
        
    }
    
    aside.colonne-gauche {
        width: 100%;
        margin-top: 500px;
        
    }
    
    section.experience h2 {
        width: 250px;
        margin-left: 50px;
        
    }
    
    section.experience form  {
        width: 60%;
        margin-left: 50px;
        
        
    }
    
    section.experience form label {
        width: 60%;
        margin-left: 10px;
        
    }
    
    section.experience form input {
        width: 60%;
        margin-left: 10px;
        
    }
    
    section.experience form textarea {
        width: 60%;
        margin-left: 10px;
        
    }
    
     .navbar {
        margin-top: 20px;
        margin-bottom: 40px;
        
    }
    
}