header {
  background-color: #313741;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

header .text {
    text-align: center;
}



header h1 {

  font-size: 50px;
  font-family: 'Aleo', serif;
  letter-spacing: 2px;
  font-weight: bold;
  color: #E1D8CF;
  text-align: center;

}


header p {
  font-family: 'Aleo', serif;
  letter-spacing: 2px;
  color: #E1D8CF; 
  
}
  
  main {
    display: flex;
      flex-wrap: wrap-reverse;
  }
  
  aside.colonne-gauche {
    background-color: #E1D8CF;
    width: 300px;
    padding: 20px;
  
  }
  
  aside.colonne-gauche h2 {
    background-color: #313741;
    color:#E1D8CF;
    font-size: 1.3em;
    margin-bottom: 10px;
    border: 10px solid #313741;
    margin-top: 100px;
    font-family: 'Aleo', serif;
    letter-spacing: 2px;
  }
  
  aside.colonne-gauche ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  
  section.experience {
    flex: 1;
    margin-top: 20px;
   
  }
  
  section.experience h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 30px ;
    margin-right : 150px;
    color: #E1D8CF;
     border: 10px solid #313741;
     border-left: 15px solid #313741;
     background-color: #313741;
     font-family: 'Aleo', serif;
     letter-spacing: 2px;
     
    
  }
  
  section.experience ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left:  35px;
    font-family: 'Lato', sans-serif;
    
  }
  
  
  .navbar {
      display: flex;
      justify-content: center;
  }
  
  .navbar a {
      padding: 15px;
      color: black;
      
  }
  
  .bordure {
      border-left: 1px solid black;
      
  }
  
  
footer{
  background-color: #313741;
  height: 130px;

}

.text-footer {
    color: #fff;
    display: flex;
    justify-content: space-around;
    
}

  .image-mesprojets {
    width: 100px;
    display: flex;
    padding: 20px;

  }

@media screen and (max-width: 1000px){
    section.experience {
        width: 100%;
        
    }
    
    aside.colonne-gauche {
        width: 100%;
        
    }
    
    section.experience h2 {
        width: 70%;
        
    }
    
    .image-mesprojets {
        display: flex;
        flex-wrap: wrap;
        padding: 30px; 
    }
    
    .navbar {
        margin-top: 20px;
        margin-bottom: 40px;
        
    }
    
}